.modal-dialog {
  max-width: 100% !important;
  margin: 0 auto;
}
.modal-lg {
  max-width: 90% !important;
}
.photo-title{
  font-weight: bold;
}
.photo-desc{
  font-size: 14px;
  max-height: 230px;
  overflow: scroll;
  overflow-x: hidden;
}
.close{
  position: absolute;
  top: 0px;
  right: 0px;
  outline: none;
}
