
<div role="document" class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="row">
        <div class="col-md-8 col-12">
          <img style="width: 100%" [src]="photo.url_h">
        </div>
        <div class="col-md-4 col-12">
          <h6 class="photo-title">{{photoInfo.title._content}}</h6>
          <p class="photo-desc">{{photoInfo.description._content}}</p>
        </div>
      </div>
    </div>

  </div>
</div>
